.whiteboard {
    margin: 16px 0;
}

.cell-markdown p {
    margin: 0;
}

.row {
    margin-top: 16px;
}

.page-title {
    padding-top: 1.25rem;
}

@media (min-width: 576px)
.jumbotron {
    padding: 1.5rem 1rem !important;
}

.jumbotron {
    padding: 1.5rem 1rem !important;
    margin-bottom: 0.5rem !important;
}

.pangolid {
    position: fixed;
    right: 4px;
    top: 4px;
    height: 64px;
    z-index: 999;
}

.limit-width {
    max-width: 300px;
}
