<div class="modal fade" id="stay-modal-position" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="stay-modal-position-title">Changement de position</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="stay-edit-position" data-method="POST" action="{% url 'patientposition-list' %}">
                <div class="modal-body">
                    <div class="form-group">
                        <input name="patient" value="{{ stay.patient.pk }}" hidden />
                        <label for="stay-edit-position-value">Nouvelle position</label>
                        <select class="custom-select my-1 mr-sm-2" id="stay-edit-position-value" name="position">
                            {% for pos in position_choices %}
                            <option value="{{pos.0}}">{{pos.1}}</option>
                            {% endfor %}
                        </select>
                        <label for="stay-edit-position-datetimepicker">Date de changement</label>
                        <div class="input-group date" id="stay-edit-position-datetimepicker" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" data-target="#stay-edit-position-datetimepicker" name="position_date"/>
                            <div class="input-group-append" data-target="#stay-edit-position-datetimepicker" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-actions">
                        <span id="stay-edit-position-success" hidden><i class="fas fa-check-circle text-success"></i></span>
                        <span id="stay-edit-position-error" hidden><i class="fas fa-times-circle text-danger"></i></span>
                        <button class="btn btn-sm btn-primary my-1">Enregistrer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
