<div class="modal fade" id="stay-modal-ventilator" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="stay-modal-ventilator-title">Vérification du respirateur</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="stay-edit-ventilator" data-method="POST" action="{% url 'ventilatorchecks-list' %}">
                <div class="modal-body">
                    <div class="form-group">
                        <input name="ventilator" value="{{ stay.patient.patientlocation.ventilator.pk}}" hidden />
                        <input name="is_done" value="true" hidden />
                        <label for="stay-edit-ventilator-datetimepicker">Date de vérification</label>
                        <div class="input-group date" id="stay-edit-ventilator-datetimepicker" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" data-target="#stay-edit-ventilator-datetimepicker" name="check_time"/>
                            <div class="input-group-append" data-target="#stay-edit-ventilator-datetimepicker" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-actions">
                        <span id="stay-edit-ventilator-success" hidden><i class="fas fa-check-circle text-success"></i></span>
                        <span id="stay-edit-ventilator-error" hidden><i class="fas fa-times-circle text-danger"></i></span>
                        <button class="btn btn-sm btn-primary my-1">Enregistrer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
