<!DOCTYPE html>
{% load static %}
{% load plotly_dash%}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pangolid</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/tempusdominus.css'%}">
    <script src="{% static 'js/moment.js' %}"></script>
    <script src="{% static 'js/tempusdominus.min.js' %}"></script>
    {% plotly_header %}
    {% block extrahead %}
    {% endblock extrahead %}
</head>
<body>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <img class="pangolid" src="{% static 'img/pangolid.png' %}" />
        <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'logout' %}"><i class="fas fa-sign-in-alt"></i> Déconnexion</a></li>
        {% block breadcrumb %}
        {% endblock breadcrumb %}
      </ol>
    </nav>
    {% block content %}
    {% endblock content %}
    {% plotly_footer %}
    {% block extrabottom %}
    {% endblock extrabottom %}
</body>
</html>
