{% extends 'whiteboard/base.html' %}

{% load static %}
{% load plotly_dash %}

{% block breadcrumb %}
<li class="breadcrumb-item" aria-current="page"><i class="fas fa-home"></i> Accueil</li>
{% endblock breadcrumb %}

{% block content %}
<div class="container-fluid whiteboard">
    <div class="row">
        <div class="col">
            <h2 class="page-title">Salles</h2>
        </div>
    </div>
    <div class="row whiteboard">
        <div class="col">
            <div class="list-group">
                {% for room in room_list %}
                      <a href="{% url 'room_detail' room.id %}" class="list-group-item list-group-item-action">{{ room.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
