{% extends 'whiteboard/base.html' %}

{% load static %}
{% load plotly_dash %}

{% block breadcrumb %}
<li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}"><i class="fas fa-home"></i> Accueil</a></li>
<li class="breadcrumb-item active">Salle</li>
{% endblock breadcrumb %}

{% block content %}
<div class="container-fluid whiteboard">
    <div class="row">
        <div class="col">
            <h2 class="page-title">{{ room.name }}</h2>
            <h3 class="lead">{% now "d/m/Y" %}</h3>
        </div>
    </div>
    <div class="row whiteboard">
        <div class="col">
            {% plotly_direct name='RoomWhiteboard' %}
        </div>
    </div>
</div>
{% endblock content %}
