{% extends 'whiteboard/base.html' %}

{% load static %}
{% load plotly_dash %}

{% block extrahead %}
{% endblock extrahead %}

{% block extrabottom %}
<script src="{% static 'js/ajaxform.js' %}"></script>
<script src="{% static 'js/stay.js' %}"></script>
<script src="/static/rest_framework/js/csrf.js"></script>
{% endblock extrabottom %}

{% block breadcrumb %}
<li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}"><i class="fas fa-home"></i> Accueil</a></li>
<li class="breadcrumb-item"><a href="{% url 'room_detail' 1 %}">Salle</a></li>
<li class="breadcrumb-item active" aria-current="page">Patient</li>
{% endblock breadcrumb %}

{% block content %}
<script>
  var position_images = {
    {% for pos, img in position_images.items %}
    {{ pos }}: "{% static img %}",
    {% endfor %}
  }
</script>
<div class="container-fluid">
    <div class="row page-title">
        <div class="col">
            <h2>{{ stay.patient.title }} {{ stay.patient.first_name }} {{ stay.patient.last_name|upper }}</h2>
            <h6 class="lead">Né{% if stay.patient.gender == 'F' %}e{% endif %} le {{ stay.patient.birth_date|date:"SHORT_DATE_FORMAT" }} - {{ stay.patient.age }} ans</h6>
        </div>
        <div class="col-3 float-right">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong>Médecin</strong>
                    <span class="float-right">{{ stay.current_assignment.team.medical_staff }}
                        <i class="fas fa-phone"></i>
                        {{ stay.current_assignment.team.medical_staff.phone }}
                    </span>
                </li>
                <li class="list-group-item">
                    <strong>IDE</strong>
                    <span class="float-right">{{ stay.current_assignment.team.paramedical_staff}}
                        <i class="fas fa-phone"></i>
                        {{ stay.current_assignment.team.paramedical_staff.phone }}
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="shadow-none p-3 mb-5 bg-light rounded">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title">Séjour</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Entré{% if stay.patient.gender == 'F' %}e{% endif %} le {{ stay.start_date|date:"d/m/Y" }} - Jour {{ stay.duration }}</h6>
                        <p class="card-text"><i class="fas fa-procedures"></i> Lit {{ stay.patient.patientlocation.bed.name }}</p>
                        <p class="card-text">
                            <i class="fas fa-lungs"></i> Respirateur {{ stay.patient.patientlocation.ventilator.name }} vérifié il y a <span id="ventilator_last_check_age">{{ stay.patient.patientlocation.ventilator.last_check.check_age }}</span> heures
                            <br /><a href="#" class="card-link" data-toggle="modal" data-target="#stay-modal-ventilator">Editer</a>
                        </p>
                    </div>
                    <div class="col-6 text-center">
                        <h5 class="card-title text-center">Position <span id="position_name">{{ stay.patient.current_position.position_long }}</span></h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            depuis <span id="position_age">{{ stay.patient.current_position.position_age|floatformat }}</span> heures
                        </h6>
                        <div>
                            <img id="stay-position-image" src="{% static position_images|get_item:stay.patient.current_position.position %}" height="120"/>
                        </div>
                        <a href="#" class="card-link" data-toggle="modal" data-target="#stay-modal-position">Editer</a>
                    </div>
                    <div class="col-3">
                        <h5 class="card-title">
                            Notes
                            <span id="stay-edit-comment-success" hidden><i class="fas fa-check-circle text-success"></i></span>
                            <span id="stay-edit-comment-error" hidden><i class="fas fa-times-circle text-danger"></i></span>
                        </h5>
                        <form id="stay-edit-comment" data-method="PUT" action="{% url 'stay-detail' stay.id %}">
                            <div class="form-group" style="margin-bottom: 8px;">
                                <textarea class="form-control" id="stay-comment" name="comment" rows="4">{{ stay.comment }}</textarea>
                            </div>
                            <div class="form-actions">
                                <button class="btn btn-sm btn-secondary d-inline-block card-link">Enregistrer notes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <h3 class="display-5 text-center">
                        PaO<sub>2</sub>/FIO<sub>2</sub>
                        <span class="text-primary">{{stay.last_biological_reading.pao2_fio2|floatformat:0}}</span>
                        <small class="text-muted">mmHg</small>
                    </h3>
                </div>
                <div class="col">
                    <h3 class="display-5 text-center">
                        FIO<sub>2</sub>
                        <span class="text-primary">{% widthratio stay.last_biological_reading.fio2 1 100 %}%</span>
                    </h3>
                </div>
                <div class="col">
                    <h3 class="display-5 text-center">
                        PaO<sub>2</sub>
                        <span class="text-primary">{{stay.last_biological_reading.pao2|floatformat:0}}</span>
                        <small class="text-muted">mmHg</small>
                    </h3>
                </div>
                <div class="col">
                    <h3 class="display-5 text-center">
                        PEEP
                        <span class="text-primary">{{stay.last_biological_reading.peep|floatformat:0}}</span>
                        <small class="text-muted">cm H<sub>2</sub>O</small>
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% plotly_direct name='StayTable' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% include "whiteboard/modals/ventilator_check.html" %}
{% include "whiteboard/modals/position_change.html" %}
{% endblock content %}
