<!DOCTYPE html>
{% load static %}
{% load plotly_dash%}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Whiteboard Velleda</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css'%}">
    {% plotly_header %}
</head>
<body>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <img class="pangolid" src="{% static 'img/pangolid.png' %}" />
        {% block breadcrumb %}
        {% endblock breadcrumb %}
      </ol>
    </nav>
    {% block content %}
    {% endblock content %}
    {% plotly_footer %}
</body>
</html>
