<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>{% extends "registration/base.html" %}

{% load static %}
{% load bootstrap4 %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Authentification</li>
{% endblock breadcrumb %}

{% block content %}

<div class="container-fluid whiteboard">
    <div class="row align-items-center justify-content-center">
        <div class="col-3">
            <div class="alert alert-success" role="alert">
                Vous vous êtes déconnectés avec succès.<br />
                <a href="{% url 'login' %}" class="card-link">Me connecter à nouveau</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
