{% extends "registration/base.html" %}

{% load static %}
{% load bootstrap4 %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Authentification</li>
{% endblock breadcrumb %}

{% block content %}

<div class="container-fluid whiteboard">
    <div class="row align-items-center justify-content-center">
        <div class="col-3">
            <div>
                {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    Votre données d'identification sont incorrectes. Veuillez réessayer.
                </div>
                {% endif %}
                {% if next %}
                {% if user.is_authenticated %}
                <div class="alert alert-secondary" role="alert">
                    Votre compte n'a pas accès à cette page. Pour continuer, veuillez utiliser un compte qui a accès.
                </div>
                {% endif %}
                {% endif %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Connexion</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Bienvenue, veuillez vous authentifier</h6>
                        <form method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <input class="btn btn-sm btn-primary" type="submit" value="Se connecter">
                            <input type="hidden" name="next" value="{% url 'home' %}">
                        </form>
                        <a href="{% url 'password_reset' %}" class="card-link">Mot de passe oublié</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
